html,body {
    height: 100%;
    margin: 0;
}

/*

SCROLLBAR

*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c5c5c5;    
}

/*

HEADER

*/

.container-fluid {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 20px;
    position: fixed;
    z-index: 2;
}
.home {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}
.home:hover {
    color: #e5e5e5;
}
.fa-bars {
    display: none;
}

/*

NIGHT MODE

*/

i {
    color: #fff;
    scale: 2;
}
.fa-sun {
    display: none !important;
    position: absolute;
    right: 2.5%;
    cursor: pointer;
}
.fa-sun.night {
    display: block !important;
}
.fa-moon {
    position: absolute;
    right: 2.5%;
    cursor: pointer;
}
.fa-moon.night {
    display: none !important;
}
body.night {
    background-color: #2a2a2a;
}
.explanation.night {
    color: #fff;
}
.nav.night a {
    color: #fff;
}
.nav.night a:hover {
    background-color: #222;
    color: #fff;
}
.nav.night a:active {
    background-color: #198754;
}
.nav.night i {
    color: #fff;
}

/*

NAV

*/

.nav {
    border: 2px solid rgba(112, 112, 112, 0.3);
    border-left: none;
    border-bottom: none;
    border-top: none;
    width: 15%;
    height: 10000px;
    float: left;
    position: fixed;
    margin-top: 85px;
    z-index: 2;
}
.nav a {
    text-decoration: none;
    color: #000;
    padding: 5px 10px 5px 0;
    padding-left: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 18px;
    border-radius: 10px;
}
.nav a:active i {
    color: #fff; 
}
.nav i:active {
    color: #fff;
}
.nav a:hover {
    background-color: #e6e6e6;
    color: #000;
}
.nav a:active {
    background-color: #198754;
    color: #fff;
}
.right-side {
    width: 15%;
    border: 2px solid rgba(112, 112, 112, 0.3);
    height: 100%;
    border-right: none;
    border-bottom: none;
    border-top: none;
    position: fixed;
    right: 0;
}
.current-page {
    background-color: #198754;
    color: #fff !important;
}
.current-page:hover {
    background-color: #198754 !important;
    color: #fff !important;
}
.fa-chevron-down {
    scale: 1;
    color: #000;
}
.dropdown {
    height: fit-content;
    transform: scale(0);
}
.dropdown.drop {
    transform: scale(1);
}

/*

MAIN

*/

.explanation {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
    left: 20%;
}
.content {
    width: 80%;
}
.h3 {
    margin-left: 30px;
    margin-top: 30px;
}
.text-layout {
    margin-left: 60px;
    margin-top: 30px;
}
.ol {
    margin-top: 30px;
}
.images {
    margin: 30px 0 30px 0;
    width: 70%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
.links {
    color: #0d6efd !important;
}

/*

BUTTONS

*/

.btn {
    border-radius: 10px;
    scale: 1.25;
}
.btn a {
    text-decoration: none;
    color: #fff;
}
.btn-top-left {
    position: absolute;
    top: 130px;
    left: 20%;
}
.btn-top-right {
    position: absolute;
    top: 130px;
    right: 20%;
}
.bottom-btns {
    height: 200px;
    position: relative;
    top: 150px;
    display: flex;  
    align-items: center;
}
.btn-bottom-left {
    position: absolute;
    left: 20%;
}
.btn-bottom-right {
    position: absolute;
    right: 20%;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
    .explanation {
        width: 100%;
        position: static;
        padding-top: 200px;
    }
    .right-side {
        display: none;
    }
    .fa-bars {
        display: block;
        position: absolute;
        right: 12.5%;
        cursor: pointer;
    }
    .mob-nav-container {
        height: 100%;
        position: absolute;
        width: 100%;
        top: 85px;
        background-color: #2a2a2a;
        z-index: 100;
    }
}
